<div id="mynetwork"></div> 
<script type="text/javascript">
    // create an array with nodes
    //value = AST
      var nodes = [
        {id: 1, value: 500, label: 'Paul,Chris', title: '500'},
        {id: 2, value: 217, label: 'Griffin, B', title: '217'},
        {id: 3, value: 173, label: 'Reddick, J', title: '173'},
        {id: 4, value: 81, label: 'Barnes, M', title: '81'},
        {id: 5, value: 94, label: 'Jordan, D', title: '94'},
        {id: 6, value: 48, label: 'Crawford, J', title: '48'},
        {id: 7, value: 46, label: 'Hawes, S', title: '46'},
        {id: 8, value: 14, label: 'Davis, G', title: '14'},
        {id: 9, value: 12, label: 'Rivers, A', title: '12'},
        {id: 10, value: 10, label: 'Turkoglu, H', title: '10'},
        {id: 11, value: 2, label: 'Bullock, R', title: '2'},
        {id: 12, value: 4, label: 'Farmar, J', title: '4'},
        {id: 13, value: 1, label: 'Hamilton, J', title: '1'},
        {id: 14, value: 1, label: 'Robinson, N', title: '1'},
        {id: 15, value: 1, label: 'Jones, D', title: '1'}
        // {id: 16, value: 0, label: 'Douglas-Roberts, C'}
      ];

      // create an array with edges
      // value = Frequency
      var edges = [
        {from: 1, to: 2, value: 36.0},
        {from: 1, to: 3, value: 20.8},
        {from: 1, to: 4, value: 12.3},
        {from: 1, to: 5, value: 10.2},
        {from: 1, to: 6, value: 7.9},
        {from: 1, to: 7, value: 7.4},
        {from: 1, to: 8, value: 1.7},
        {from: 1, to: 9, value: 1.4},
        {from: 1, to: 10, value: 1.1},
        {from: 1, to: 11, value: 0.3},
        {from: 1, to: 12, value: 0.3},
        {from: 1, to: 13, value: 0.3},
        {from: 1, to: 14, value: 0.1},
        {from: 1, to: 15, value: 0.1}
        // {from: 1, to: 16, value: 0.0}
      ];


      // create a network
      var container = document.getElementById('mynetwork');
      var data= {
        nodes: nodes,
        edges: edges,
      };
      var options = {
        nodes: {
          shape: 'dot'
        },
        width: '600px',
        height: '600px',
      };
      var network = new vis.Network(container, data, options);

</script>